@font-face {
  font-family: "iconfont"; /* Project id 4316831 */
  src: url('iconfont.woff2?t=1699198418832') format('woff2'),
       url('iconfont.woff?t=1699198418832') format('woff'),
       url('iconfont.ttf?t=1699198418832') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e634";
}

.icon-navigate_next:before {
  content: "\e777";
}

.icon-navigate_before:before {
  content: "\eb59";
}

